/*#region ---- Generic ------ */

body{
    margin: 0px;
    overflow-x: hidden;   
}

/*#region ------ text --------*/
p {font-family: 'Roboto', sans-serif;}
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
}
h2 {
    font-family: 'Montserrat', sans-serif; 
    color: white;
    text-decoration: none;  
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
}
.text_box_h2{
    display: block;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 5px;
}
.text_box_h3{
    display: block;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 5px;
}
.logo_a{
    text-decoration: none;
}
.logo{
    font-family: fantasy;
}
/*#endregion*/


/*#region ---- nav ---- */
nav{
    grid-area: nav;
    background-color: rgb(143, 143, 143);
    margin: 0px;
    text-align: center;
}
.menu_button{
    background-color: rgb(143, 143, 143);
    position: fixed;
    width: 60px;
    height: 60px;
    margin: 3px 5px;
    border-radius: 30px;  
    z-index: 200; 
}
/*#endregion*/

.search_txtarea{
    grid-area: search;
    background-color: rgb(241, 241, 241);
    width: 100vw;
    overflow: hidden;
    border: none;
    border-bottom-color: rgb(255, 0, 0);
    border-bottom: solid;
    border-bottom-width: 1.5px;
    height: 7vh;
    font-size: 6vh;
    padding-left: 5px;
}
/*#region ---- nav active ----- */
#navclick{
    position: fixed;
    left: -60%;
    padding: 70px 5px 0px 5px;
    z-index: 100;
    background-color: rgb(143, 143, 143);
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;

}
#navclick a{
    height: 10vh;
    border-bottom: grey solid 1px;
}
.text_decoration_none{
    text-decoration: none;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    width: 100%;
    z-index: 50;
    background-color: black;
    opacity: 0;
    transition: all .15s ease-in-out;
}
.overlayactive{ 
    opacity: 0.5;
}
/*#endregion*/

/*#endregion*/


/*#region -------- foter ------ */
.grid_footer{
    grid-area: foot;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: auto;
    grid-template-areas:
    "contact . . ."
    "snap helpp . ."
    ". insta legal ."
    ". . face fag"
    ". . . twit"
}
.grid_footer aside{
    margin: 5px;
    justify-self: center;
}

.foter_contact{
 grid-area: contact;
}
.foter_help{
    grid-area: helpp; 
}
.foter_legal{
    grid-area: legal;
}
.foter_fag{
    grid-area: fag;
}
.icon_foter{
    background-size: cover;
    background-position: center;    
    width: 70px;  
}
.aside_snap{
    grid-area: snap;
    background-image: url('../img/snap.png'); 
}
.aside_twit{
    grid-area: insta;
    background-image: url('../img/twitter.png');
}
.aside_linked{
    grid-area: face;
    background-image: url('../img/linked.png');
}
/*#endregion */


/*#region -------- page one --------- */
#index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 65px 1fr 1fr 1fr 1fr 1fr 2fr 3fr;
    background-image: url('../img/small_background.jpeg');
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    margin: 0px;
    grid-template-areas:
    "nav nav"
    "search search"
    "new_art new_art"
    "look look"
    "sale_art sale_art"
    "sale sale"
    "main main"
    "foot foot"
}

.new_art{
    grid-area: new_art;
    color: rgb(219, 72, 72);
    background-color: transparent;
    text-align: center;
    margin: 0px;
    border-bottom: solid 4px gray;
    margin-top: 0px;
    margin-bottom: 3px;
    border-radius: 2px;
}
.w3-animate-fading{animation:fading 8s infinite}@keyframes fading{0%{opacity:0}5%{opacity:1}95%{opacity:1}100%{opacity:0}}

.look_flex{
    grid-area: look;
    margin: auto;
    padding: 0px;
    margin-bottom: 0px;
    height: 100%;
    background-color: black; 
}
.look_flex > a {
    margin: auto;
    text-align: center;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    display: block;
    border: solid 20px black;
    text-decoration: none;
    background-color: black;
}
.look_a1{
    background-image: url('../img/main_collection.jpg'); 
    width: 250px;
    height: 65vh;
}
.look_a2{
    background-image: url('../img/slide_collection1.jpg'); 
    width: 250px;
    height: 65vh;
}
.look_a3{
    background-image: url('../img/slide_collection2.jpg'); 
    width: 250px;
    height: 65vh;
}
.look_a4{
    background-image: url('../img/main_collection.jpg'); 
    width: 250px;
    height: 65vh;
}
.sale_article{
    grid-area: sale_art;
    margin: 0px;
}
.sale_h1{
    color: rgb(219, 72, 72);
    text-align: center;
    padding: 10px;
}
.sale_flex{
    grid-area: sale;
    width: 200vw;
    height: 27vh;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: solid 4px gray;
    border-radius: 2px;
    padding: 0px;
}
.sale_flex > div {
    height: 98%;
    margin: 0px 10px;
    display: inline-block;
    width: 27vh;
    text-align: center;
    background-size: cover;
    background-position: center; 
}
.bracelet_img{
    background: url('../img/bracelet_sale.jpg'); 
    margin: 5px;
}
#main{
    display: grid;
    background-image: url('../img/background.jpg');
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 22% 1fr 1fr 22%;
    width: 100vw;
    height: 160vh;
    margin: 0px;
    grid-template-areas:
    "bra bra"
    "fli gla"
    "ank gla"
    "hat hat"
}
#main > a{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}
.bracelet_a{
    grid-area: bra;
    background-image: url('../img/bracelet2.jpg'); 
    background-size: cover;
    background-position: bottom;
    margin: 5px;
}
.hat_a{
    grid-area: hat;
    background-image: url('../img/sunhat.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 2.5px 5px 5px 5px;
}
.glasses_a{
    grid-area: gla;
    background-image: url('../img/glasses.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0px 5px 2.5px 2.5px;
}
.anklet_a{
    grid-area: ank;
    background-image: url('../img/anklet.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 2.5px 2.5px 2.5px 5px;
}
.flipflop_a{
    grid-area: fli;
    background-image: url('../img/flipflop.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0px 2.5px 2.5px 5px;
}
/*#endregion*/


/*#region -------- Bracelet -------- */
#second{
    display: grid;
    background-image: url('../img/wall.jpg');
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 65px 1fr 1fr;
    width: 100%;
    height: 100vh;
    margin: 0px;
    grid-template-areas:
    "nav nav"
    "main main"
    "foot foot"
   
}
.main_flex {
    margin: 0px;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../img/wall.jpg');
    background-size: cover;
  }
.main_flex > a {
  background-image: url('../img/bracelet_example5.jpg');
  background-size: cover;
  background-position: bottom;
  width: 49vw;
  height: 200px; 
  margin: 0.5vw;
  text-decoration: none;
}
.main_flex button{ 
    margin-top: 112px;
    align-self: center;
    align-content: center;
    bottom: 0px;
    background-color: blue;
    height: 35px;
    width: 30vw;
}
.a_flex_h3{
    margin-top: 0px;
    position: relative;
    text-align: center;
    font-size: 20px;
}
.background_footer{
    background-image: url('../img/wall.jpg');
    background-size: cover;
}
/*#endregion*/


/*#region --------- Purchase ------ */
#third{
    display: grid;
    background-image: url('../img/wall.jpg');
    background-size: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 50vh 15vh 10vh 10vh;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    grid-template-areas:
    "nav nav"
    "big big"
    "size size"
    "color color"
    "price buy"
}
ul{
    padding: 0px;
    display: flex;
    flex-direction: row; 
    width: 100vw;
    list-style-type: none;
    text-align: center;
}
.main_img{
    grid-area: big;
    background-image: url('../img/bracelet_example3.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
    border-bottom: 3px grey solid;
    width: 100vw;
  
}
#size_ul{
   grid-area: size; 
}
#size_ul > button{
   margin: 10px; 
   width: 50px;
   height: 50px;
 }

#size_ul p {
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.size1_div{
    grid-area: button1;
    background-color: rgb(168, 70, 70);
    text-align: center;
}
.size2_div{
    grid-area: button2;
    background-color: rgb(168, 70, 70);
}
.size3_div{
    grid-area: button3;
    background-color: rgb(168, 70, 70);
}
.size4_div{
    grid-area: button4;
    background-color: rgb(168, 70, 70);
}

#color_ul{
  grid-area: color;
}
#color_ul button{
    margin: 0px 12px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
}
.color1_div{
    grid-area: color1;
    background-color: salmon;
}
.color2_div{
    grid-area: color2;
    background-color: rgb(66, 5, 85);
}
.color3_div{
    grid-area: color3;
    background-color: orange;
}
.color4_div{
    grid-area: color4;
    background-color: orangered;
}
.price{
    grid-area: price;
    align-content: center;
    display: flex;
    padding-bottom: 20px;
}
.buy{
    display: flex;
    background-color: olive;
    justify-self: center;
    align-self: center;
    margin-left: 10%;
}
/*#endregion*/


/*#region --------- Collection ---------- */
#collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    width: 100%;
    height: 100vh;
    margin: 0px;
    grid-template-areas:
    "nav nav"
    "collection collection"
    "foot foot"
}
.collection_flex {
    background-image: url('../img/wall.jpg');
    background-size: cover;
    grid-area: collection;
    display: flex;
    flex-wrap: wrap;
  }
.collection_flex div{
    background-size: cover;
    width: 45vw;
    height: 350px;
    margin: 2vw;
    text-align: center;
    font-size: 30px;
    border: white 1px solid;
}
.Coachella{
    background-image: url('../img/slide_collection1.jpg');
}
.Summer{
    background-image: url('../img/slide_collection2.jpg');
}
.WoW{
    background-image: url('../img/main_collection.jpg');
    background-position: center;

}
/*#endregion*/


/*#region ----- Icons ----- */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-dark {
    color: #042a2b;
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: #CDEDF6;
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
/*#endregion*/


/*#region ----- Computer Version ----- */
@media only screen and (min-width: 600px) {

/*#region ---- Page one ---- */
#main{
    grid-auto-rows: 30% 1fr 1fr 40%;
}
.bracelet_a{
    background-image: url('../img/bracelet_example3.jpeg'); 
}
/*#endregion*/


/*#region ----- Bracelets ---- */

.main_flex a{
    width: 48vw;
}
/*#endregion*/


/*#region ----- Collections ----- */

.collection_flex {
    justify-content: center;
}
.collection_flex div{   
    width: 25vw;
    height: 400px;
}

/*#endregion*/

/*#endregion*/
}
